*{
    margin: 0;
    padding: 0;
}

#mainMemo{
    display: flex;
    flex-direction: column;
    line-height: 40px;
    border: 1px solid black;
    text-align: center;
    width: 20%;
    margin: 50px auto;
    padding: 10px;
    font-size: 20px;
}

#count-btn, #todo-btn{
    padding: 8px;
    background-color: rgb(158, 158, 255);
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin: auto;
}